h1 {
  color: green;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

.map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.direction-container {
  z-index: 2;
  position: absolute;
  background: #fff;
  top: 10px;
  left: 10px;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}

.route-form > input[type=text] {
  display: block;
  margin-bottom: 10px
}

.route-form > label {
  display: block;
  margin-bottom: 5px
}

.route-form > input[type=submit] {
  margin: 0 auto
}