h1 {
  color: green;
}

body {
  text-align: center;
  margin: 0;
  padding: 0;
}

.map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.direction-container {
  z-index: 2;
  position: absolute;
  background: #fff;
  top: 10px;
  left: 10px;
}